@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out !important;
}

h1,
h2,
p {
  font-family: 'pt-serif', serif !important;
}

body {
  background-color: #e3e6e6;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.nameWeb {
  font-family: 'dance-script', cursive !important;
}
